#designers {
    flex-direction: column;
    width: 100%;
    h1 {
        @include title;
    }
    select {
        width: 50%;
        margin-bottom: 20px;
        border: 0;
        margin-left: 10px;
        padding: 0;
        font-size: 14px;
        color: var(--gray-72);
        border: var(--gray-72) solid 1px;
        &:first-child {
            border-right: var(--gray-72) solid 1px;
        }
    }
    .designer-information {
        flex-direction: column;
        #designer-id {
            justify-content: space-between;
            h2 {
                margin: 0 10px;
                font-family: 'Montserrat Alternates';
                font-size: 24px;
                color: var(--gray-72);
            }
        }
        .designer-photo {
            img {
                width: 100%;
            }
        }
        article {
            margin: 60px 30px;
            text-align: justify;
            font-family: 'Montserrat Alternates';
            font-weight: 300;
            font-size: 14px;
            color: var(--gray-72);
        }
    }
}

@media (min-width: 1920px) {
    #designers {
        flex-direction: column;
        width: 100%;
        h1 {
            @include title;
            font-size: 100px;
            margin: 100px 0;
        }
        select {
            width: 300px;
            font-size: 24px;
        }
        .designer-information {
            flex-direction: row;
            position: relative;
            margin-bottom: 100px;
            #designer-id + .designer-photo {
                order: 1;
                &:first-child {
                    order: 2;
                }
            }
            #designer-id {
                position: absolute;
                right: calc(50% - 133px);
                width: 400px;
                justify-content: space-around;
                h2 {
                    position: absolute;

                    margin: 0 40px;
                    font-family: 'Montserrat Alternates';
                    font-size: 42px;
                    color: var(--gray-72);
                }
                picture {
                    position: absolute;
                    top: 75px;
                    img {
                        width: 40px;
                        margin-right: 10px;
                    }
                }
            }
            .designer-photo {
                img {
                    width: 640px;
                }
            }
            article {
                margin: 220px;
                text-align: justify;
                font-family: 'Montserrat Alternates';
                font-weight: 300;
                font-size: 38px;
                color: var(--gray-72);
            }
        }
    }

}