@mixin button {
    width: 100%;
    height: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: var(--black-0d);
    color: var(--gray-e4);
    &:hover {
        background-color: var(--black);
    }
    &:active {
        background-color: var(--black-26);
    }
}

@mixin title {
    font-family: 'Montserrat Alternates';
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
    color: var(--gray-72);
}