:root {
    --bg-color: #fff;
    --white: #fff;
    --gray-f2: #F2F2F2;
    --gray-ef: #EFEFEF;
    --gray-e4: #E4E4E4;
    --gray-bf: #BFBFBF;
    --gray-72: #737372;
    --black: #0D0D0D;
    --black-hover: #252526;
    --black-active: #000;
    --black-t: rgba(0, 0, 0, .8);
}