@font-face {
  font-family: "GreatVibes";
  src: local("Great Vibes"), url("../fonts/GreatVibes-Regular.ttf"), format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Merienda";
  src: local("Merienda"), url("../fonts/Merienda-Regular.ttf"), format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Light"), url("../fonts/MontserratAlternates-Light.ttf"), format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Light Italic"), url("../fonts/MontserratAlternates-Light.ttf"), format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Regular 400"), url("../fonts/MontserratAlternates-Regular.ttf"), format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Regular 400"), url("../fonts/MontserratAlternates-Italic.ttf"), format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Bold 700"), url("../fonts/MontserratAlternates-bold.ttf"), format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Light"), url("../fonts/Nunito-Light.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: local("Light Italic"), url("../fonts/Nunito-LightItalic.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Regular"), url("../fonts/Nunito-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito SemiBold"), url("../fonts/Nunito-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Bold"), url("../fonts/Nunito-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
:root {
  --bg-color: #fff;
  --white: #fff;
  --gray-f2: #F2F2F2;
  --gray-ef: #EFEFEF;
  --gray-e4: #E4E4E4;
  --gray-bf: #BFBFBF;
  --gray-72: #737372;
  --black: #0D0D0D;
  --black-hover: #252526;
  --black-active: #000;
  --black-t: rgba(0, 0, 0, .8);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, label, h1, h2, h3, h4, h5, h6, a {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}
body > main {
  min-height: calc(100vh - 350px);
}

hr.trace {
  background-color: var(--gray-bf);
  width: calc(100% - 2em);
  height: 1px;
  margin: 3em 0;
  border: none;
  align-self: center;
}

#header {
  min-width: 320px;
  width: 100%;
  height: 100px;
  background-color: var(--gray-ef);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
}
#header .overlay {
  display: none;
}
#header a #logo {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 130px;
  transition: left 0.5s ease-in-out;
}
#header #open-btn, #header #close-btn {
  outline: none;
  border: none;
  z-index: 3;
}
#header #close-btn {
  display: none;
}
#header #menu {
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  width: 320px;
  height: 400px;
  position: absolute;
  background-color: var(--gray-ef);
  top: -400px;
  right: -320px;
  padding-bottom: 50px;
  z-index: 2;
}
#header #menu nav ul {
  width: 320px;
  margin-top: 90px;
  padding: 0;
  flex-direction: column;
}
#header #menu nav ul li {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
#header #menu nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  color: var(--gray-72);
  font-weight: 600;
  font-size: 16px;
}
#header #menu nav ul div {
  flex-direction: column;
}
#header #menu nav ul div li:first-child {
  margin-bottom: 20px;
}
#header #menu nav ul .divider {
  padding: 0;
  border: 0;
  border-top: 2px solid var(--gray-e4);
  margin-top: 10px;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-t);
}
.open-menu #header #open-btn {
  display: none;
}
.open-menu #header #close-btn {
  display: flex;
}
.open-menu #header #menu {
  display: flex;
  top: 0;
  right: 0;
}
.open-menu #header a #logo {
  left: 70px;
  z-index: 4;
}

@media (min-width: 1024px) {
  .open-menu {
    overflow: hidden;
  }

  #header {
    height: 120px;
    background-color: rgba(239, 239, 239, 0.9);
  }
  #header .overlay {
    display: none;
  }
  #header #open-btn, #header #close-btn {
    display: none;
  }
  #header a #logo {
    top: 20px;
    width: 200px;
  }
  #header #menu {
    position: initial;
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    justify-content: center;
  }
  #header #menu nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  #header #menu nav ul li {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  #header #menu nav ul li a {
    font-size: 14px;
    font-weight: 700;
  }
  #header #menu nav ul .divider {
    border: none;
    border-left: 2px solid var(--gray-e4);
  }
  #header #menu nav ul .divider:first-child {
    display: none;
  }
}
@media (min-width: 1366px) {
  .open-menu {
    overflow: hidden;
  }

  #header {
    height: 160px;
    width: 100%;
  }
  #header #open-btn, #header #close-btn {
    display: none;
  }
  #header a #logo {
    top: 20px;
    width: 250px;
    align-self: center;
  }
  #header #menu {
    position: initial;
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin: 0;
    margin-left: 300px;
    padding: 0;
    justify-content: center;
  }
  #header #menu nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  #header #menu nav ul li {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }
  #header #menu nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
    color: var(--gray-72);
    font-weight: 600;
    font-size: 18px;
  }
  #header #menu nav ul .divider {
    margin: 0;
    padding: 0;
    border: 0;
    border-left: 2px solid var(--gray-e4);
  }
  #header #menu nav ul .divider:first-child {
    display: none;
  }
}
@media (min-width: 1920px) {
  #header {
    height: 150px;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.9);
  }
  #header #open-btn, #header #close-btn {
    display: none;
  }
  #header a #logo {
    top: 20px;
    width: 250px;
    align-self: center;
  }
  #header #menu {
    position: initial;
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin: 0;
    margin-left: 300px;
    padding: 0;
    justify-content: center;
  }
  #header #menu nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  #header #menu nav ul li {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }
  #header #menu nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
    color: var(--gray-72);
    font-weight: 600;
    font-size: 24px;
  }
  #header #menu nav ul .divider {
    margin: 0;
    padding: 0;
    border: 0;
    border-left: 2px solid var(--gray-e4);
  }
  #header #menu nav ul .divider:first-child {
    display: none;
  }
}
#projects {
  min-width: 320px;
  width: 100%;
  background-color: var(--bg-color);
  flex-direction: column;
}
#projects #home header {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  flex-direction: column;
  background-image: url("../img/jpg/img-1920-11.jpg");
  background-size: cover;
  background-position-x: 14%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
  z-index: 1;
}
#projects #home header a {
  border: var(--bg-color) solid 1px;
  width: 130px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
#projects #project-photos {
  flex-direction: column;
  width: 100%;
}
#projects #project-photos h2 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
  margin: 60px 0;
  padding: 0;
  justify-content: center;
}
#projects #project-photos .project-designers {
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}
#projects #project-photos .project-designers picture > img {
  width: 100%;
}
#projects #project-photos .project-designers .professional-profile a {
  text-decoration: none;
  width: 35%;
}
#projects #project-photos .project-designers .professional-profile a .personal-id {
  flex-direction: column;
  margin-left: 10px;
}
#projects #project-photos .project-designers .professional-profile a .personal-id strong {
  font-family: merienda;
  font-size: 16px;
}
#projects #project-photos .project-designers .professional-profile a .personal-id small {
  font-size: 10px;
}
#projects #project-photos .project-designers .professional-profile .photo {
  position: absolute;
  right: calc(50% - 42px);
  bottom: 0;
}
#projects #project-photos .project-designers .professional-profile .photo img {
  width: 90px;
  height: 90px;
  border: var(--bg-color) solid 5px;
  border-radius: 50%;
}
#projects #project-photos .project-designers .professional-profile .designer-contact {
  position: absolute;
  right: 15%;
}
#projects #project-photos .project-designers .professional-profile .designer-contact a img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 3px;
}
#projects #products {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}
#projects #products h2 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
  margin-top: 0;
}
#projects #products #search-products {
  position: relative;
  width: 250px;
  align-self: center;
  margin-bottom: 40px;
}
#projects #products #search-products #product {
  margin: 0;
  padding: 0 10px;
  position: absolute;
  display: flex;
  width: 100%;
  height: 30px;
  left: calc(50% - 150px);
  border: var(--black) solid 1px;
}
#projects #products #search-products #magnifier {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
}
#projects #products p {
  display: flex;
  margin: 40px 0;
  width: 300px;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-72);
  text-align: center;
  justify-content: space-between;
  align-self: center;
}
#projects #products .product-option {
  width: calc(100% - 1em);
  justify-content: center;
  align-self: center;
}
#projects #products .product-option a {
  display: flex;
  width: calc(100% / 3);
  height: 30px;
  align-items: center;
  background-color: transparent;
  border: var(--black) solid 1px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: var(--black);
  margin: 5px;
  padding: 0 6px;
}
#projects #products .products-navigation {
  flex-direction: column;
  position: relative;
  width: 100%;
}
#projects #products .products-navigation picture #forniture {
  width: 100%;
}
#projects #products .products-navigation picture #hearth {
  position: absolute;
  bottom: 50px;
  right: 20px;
}
#projects #products .products-navigation nav picture img {
  position: absolute;
  height: 50px;
}
#projects #products .products-navigation nav picture img:first-child {
  top: calc(50% - 25px);
  right: 20px;
}
#projects #products .products-navigation nav picture img:last-child {
  position: absolute;
  top: calc(50% - 25px);
  left: 20px;
}
#projects #products .products-navigation ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}
#projects #products .products-navigation ul li {
  width: 8px;
  height: 8px;
  background-color: var(--gray-f2);
  margin: 5px 2px;
}
#projects #products .products-navigation ul li:first-child {
  background-color: var(--gray-72);
}
#projects #contact {
  align-self: center;
  width: 300px;
  margin: 40px 10px;
  position: relative;
}
#projects #contact a {
  display: flex;
  border: var(--gray-72) solid 1px;
  height: 40px;
  width: 300px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-72);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
#projects #contact picture img {
  position: absolute;
}
#projects #contact picture img:first-child {
  left: 20px;
  top: 10px;
}
#projects #contact picture img:last-child {
  right: 20px;
  top: 10px;
}

@media (min-width: 1024px) {
  #projects #home header .overlay {
    display: none;
  }
  #projects #home header a {
    width: 100%;
    height: 30px;
    border: var(--black) 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--black);
    border: var(--bg-color) solid 2px;
    background-color: transparent;
    color: var(--bg-color);
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    width: 160px;
    height: 50px;
    font-size: 20px;
  }
  #projects #home header a:hover {
    background-color: var(--black-hover);
    color: var(--gray-f2);
  }
  #projects #home header a:active {
    background-color: var(--black-active);
  }
  #projects #home header a:hover {
    border: var(--black) solid 2px;
  }
  #projects #project-photos h2 {
    font-size: 40px;
    display: flex;
    margin: 80px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  #projects #project-photos .project-designers {
    position: relative;
    margin: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  #projects #project-photos .project-designers > picture {
    justify-content: flex-end;
  }
  #projects #project-photos .project-designers > picture > img {
    align-items: flex-end;
    width: 85%;
  }
  #projects #project-photos .project-designers .professional-profile {
    flex-direction: column;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id {
    position: absolute;
    top: 0;
    margin-left: 0;
    flex-direction: column;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id strong {
    font-family: merienda;
    font-size: 18px;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id small {
    font-size: 12px;
  }
  #projects #project-photos .project-designers .professional-profile .photo {
    position: absolute;
    top: 50px;
    left: 0;
  }
  #projects #project-photos .project-designers .professional-profile .designer-contact {
    position: absolute;
    left: 0;
    top: 150px;
  }
  #projects #project-photos .project-designers .professional-profile .designer-contact a img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 5px;
  }
  #projects #products {
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #projects #products h2 {
    font-size: 40px;
  }
  #projects #products #search-products {
    position: relative;
    width: 400px;
    height: 30px;
    align-self: center;
    margin-bottom: 40px;
  }
  #projects #products #search-products #product {
    margin: 0;
    padding: 0 5px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 30px;
    left: calc(50% - 200px);
    border: var(--black) solid 1px;
  }
  #projects #products #search-products #magnifier {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
  }
  #projects #products .product-option {
    width: calc(100% - 2em);
    justify-content: space-between;
    align-self: center;
    margin: 0 10px;
  }
  #projects #products .product-option a {
    width: 100%;
    height: 30px;
    border: var(--black) 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--black);
    display: flex;
    width: calc(100% / 3);
    font-size: 14px;
  }
  #projects #products .product-option a:hover {
    background-color: var(--black-hover);
    color: var(--gray-f2);
  }
  #projects #products .product-option a:active {
    background-color: var(--black-active);
  }
  #projects #products .products-navigation {
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  #projects #products .products-navigation picture #forniture {
    width: 100%;
  }
  #projects #products .products-navigation picture #hearth {
    position: absolute;
    bottom: 50px;
    right: 20px;
  }
  #projects #products .products-navigation nav picture img {
    position: absolute;
    height: 50px;
  }
  #projects #products .products-navigation nav picture img:first-child {
    top: calc(50% - 25px);
    right: 20px;
  }
  #projects #products .products-navigation nav picture img:last-child {
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
  }
  #projects #products .products-navigation ul {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  #projects #products .products-navigation ul li {
    width: 8px;
    height: 8px;
    background-color: var(--gray-f2);
    margin: 5px 2px;
  }
  #projects #products .products-navigation ul li:first-child {
    background-color: var(--gray-72);
  }
  #projects #products p {
    display: flex;
    margin: 40px 0;
    width: 400px;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-72);
    text-align: center;
    justify-content: space-between;
    align-self: center;
  }
  #projects #contact {
    align-self: center;
    width: 500px;
    margin: 40px 10px;
    position: relative;
  }
  #projects #contact a {
    width: 100%;
    height: 30px;
    border: var(--black) 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--black);
    width: 500px;
  }
  #projects #contact a:hover {
    background-color: var(--black-hover);
    color: var(--gray-f2);
  }
  #projects #contact a:active {
    background-color: var(--black-active);
  }
}
@media (min-width: 1366px) {
  #projects #home header a {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  #projects #project-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px 50px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  #projects #project-photos h2 {
    grid-column: 1/3;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
    color: var(--gray-72);
    font-size: 70px;
    display: flex;
    margin-top: 150px;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  #projects #project-photos .project-designers {
    position: relative;
  }
  #projects #project-photos .project-designers > picture {
    justify-content: center;
    margin: 0;
  }
  #projects #project-photos .project-designers > picture > img {
    align-items: flex-end;
    width: 100%;
  }
  #projects #project-photos .project-designers .professional-profile {
    flex-direction: column;
  }
  #projects #project-photos .project-designers .professional-profile a {
    position: absolute;
    margin-left: 0;
    left: 100px;
    width: 35%;
    flex-direction: column;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id {
    bottom: -40px;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id strong {
    font-family: merienda;
    font-size: 18px;
  }
  #projects #project-photos .project-designers .professional-profile a .personal-id small {
    font-size: 12px;
  }
  #projects #project-photos .project-designers .professional-profile .photo {
    top: initial;
  }
  #projects #project-photos .project-designers .professional-profile .photo img {
    position: absolute;
    bottom: -50px;
    left: -105px;
  }
  #projects #project-photos .project-designers .professional-profile .designer-contact a {
    position: absolute;
    flex-direction: row;
    bottom: -300px;
    left: 270px;
    flex: 1;
  }
  #projects #project-photos .project-designers .professional-profile .designer-contact a img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 5px;
  }
  #projects #products {
    flex-direction: column;
    position: relative;
  }
  #projects #products h2 {
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
    color: var(--gray-72);
    font-size: 40px;
  }
  #projects #products #search-products {
    position: relative;
    width: 500px;
    height: 40px;
    align-self: center;
  }
  #projects #products #search-products #product {
    margin: 0;
    padding: 0 10px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 40px;
    left: calc(50% - 250px);
    border: var(--black) solid 1px;
  }
  #projects #products #search-products #magnifier {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
  }
  #projects #products p {
    display: flex;
    margin: 40px 0;
    width: 400px;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-72);
    text-align: center;
    justify-content: space-between;
    align-self: center;
  }
  #projects #products .product-option {
    width: 98vw;
    justify-content: space-between;
    align-self: center;
    margin: 0 10px;
  }
  #projects #products .product-option a {
    display: flex;
    width: calc(100% / 3);
    height: 30px;
    align-items: center;
    background-color: transparent;
    border: var(--black) solid 1px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--black);
    margin: 5px;
    padding: 0 6px;
  }
  #projects #products .products-navigation {
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  #projects #products .products-navigation picture #forniture {
    width: 100%;
  }
  #projects #products .products-navigation picture #hearth {
    position: absolute;
    bottom: 50px;
    right: 20px;
  }
  #projects #products .products-navigation nav picture img {
    position: absolute;
    height: 50px;
  }
  #projects #products .products-navigation nav picture img:first-child {
    top: calc(50% - 25px);
    right: 20px;
  }
  #projects #products .products-navigation nav picture img:last-child {
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
  }
  #projects #products .products-navigation ul {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  #projects #products .products-navigation ul li {
    width: 8px;
    height: 8px;
    background-color: var(--gray-f2);
    margin: 5px 2px;
  }
  #projects #products .products-navigation ul li:first-child {
    background-color: var(--gray-72);
  }
  #projects #contact {
    align-self: center;
    width: 500px;
    margin: 40px 10px;
    position: relative;
  }
  #projects #contact a {
    display: flex;
    border: var(--gray-72) solid 1px;
    height: 40px;
    width: 500px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-72);
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  #projects #contact picture img {
    position: absolute;
  }
  #projects #contact picture img:first-child {
    left: 20px;
    top: 10px;
  }
  #projects #contact picture img:last-child {
    right: 20px;
    top: 10px;
  }
}
footer {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
  height: 150px;
  background-color: var(--black);
  padding: 10px;
}
footer #footer-contact {
  justify-content: space-between;
  align-items: center;
}
footer #footer-contact #social-media {
  width: 60%;
  flex-direction: column;
}
footer #footer-contact #social-media strong {
  margin-bottom: 5px;
  color: var(--gray-bf);
}
footer #footer-contact #social-media strong:last-child {
  font-size: 12px;
}
footer #footer-contact #social-media ul {
  margin: 0;
  padding: 0;
  align-items: center;
}
footer #footer-contact #social-media ul li {
  color: var(--gray-bf);
}
footer #footer-contact #social-media ul li a img {
  margin: 0 5px;
}
footer #footer-contact #perfect-location {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
}
footer #footer-contact #perfect-location strong {
  font-size: 14px;
  color: var(--gray-72);
  margin-left: 18px;
}
footer p {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-size: 10px;
  color: var(--gray-bf);
  text-align: center;
}

@media (min-width: 1024px) {
  footer {
    min-width: 320px;
    width: 100%;
    flex-direction: column;
    height: 300px;
    background-color: var(--black);
    padding: 40px;
  }
  footer #footer-contact {
    justify-content: space-between;
    align-items: center;
  }
  footer #footer-contact #social-media {
    width: 60%;
    flex-direction: column;
  }
  footer #footer-contact #social-media strong {
    font-size: 32px;
    margin-bottom: 5px;
    color: var(--gray-bf);
  }
  footer #footer-contact #social-media strong:last-child {
    font-size: 20px;
  }
  footer #footer-contact #social-media ul {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  footer #footer-contact #social-media ul li {
    color: var(--gray-bf);
  }
  footer #footer-contact #social-media ul li a img {
    width: 40px;
    margin: 0 10px;
  }
  footer #footer-contact #perfect-location {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
  }
  footer #footer-contact #perfect-location a img {
    width: 270px;
  }
  footer #footer-contact #perfect-location strong {
    font-size: 24px;
    color: var(--gray-72);
    margin-left: 35px;
  }
  footer p {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-size: 15px;
    color: var(--gray-bf);
    text-align: center;
  }
}
#projects {
  flex-direction: column;
  width: 100%;
}
#projects h1 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
}
#projects > strong {
  margin-bottom: 20px;
  color: var(--gray-72);
  margin-left: 10px;
}
#projects > strong small {
  background-color: var(--gray-72);
  font-size: 14px;
  color: var(--gray-ef);
  border: var(--gray-72) solid 2px;
  border-radius: 50%;
}
#projects #gallery-selectors {
  width: 100vw;
  justify-content: space-between;
}
#projects #gallery-selectors select {
  flex: 1;
  border: 0;
  padding: 0;
  font-size: 14px;
  color: var(--gray-72);
  border-top: var(--gray-72) solid 1px;
}
#projects #gallery-selectors select:first-child {
  border-right: var(--gray-72) solid 1px;
}
#projects #gallery-photos {
  flex-direction: column;
}
#projects #gallery-photos picture {
  flex-direction: column;
  margin-bottom: 40px;
}
#projects #gallery-photos picture img {
  width: 100%;
}
#projects #gallery-photos picture strong {
  color: var(--gray-26);
  margin-left: 10px;
}
#projects #gallery-photos picture small {
  font-size: 12px;
  margin-left: 10px;
}
#projects #gallery-photos picture article {
  margin: 10px 30px;
  text-align: justify;
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-size: 14px;
  color: var(--gray-72);
}

@media (min-width: 1920px) {
  #projects {
    flex-direction: column;
    width: 100%;
  }
  #projects h1 {
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
    color: var(--gray-72);
    font-size: 100px;
    margin: 200px 0;
  }
  #projects > strong {
    margin-bottom: 40px;
    margin-left: 10px;
    color: var(--gray-72);
    font-size: 30px;
  }
  #projects > strong small {
    background-color: var(--gray-72);
    font-size: 20px;
    color: var(--gray-ef);
    border: var(--gray-72) solid 4px;
    border-radius: 50%;
  }
  #projects #gallery-selectors {
    width: 100vw;
    justify-content: space-between;
  }
  #projects #gallery-selectors select {
    flex: 1;
    border: 0;
    padding: 0;
    font-size: 24px;
    color: var(--gray-72);
    border-top: var(--gray-72) solid 1px;
  }
  #projects #gallery-selectors select:first-child {
    border-right: var(--gray-72) solid 1px;
  }
  #projects #gallery-photos {
    flex-direction: column;
  }
  #projects #gallery-photos picture {
    flex-direction: column;
    margin-bottom: 40px;
  }
  #projects #gallery-photos picture img {
    width: 100%;
  }
  #projects #gallery-photos picture strong {
    color: var(--gray-26);
    font-size: 24px;
  }
  #projects #gallery-photos picture small {
    font-size: 18px;
  }
  #projects #gallery-photos picture article {
    margin: 50px 300px 200px 300px;
    text-align: justify;
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-size: 20px;
    color: var(--gray-72);
  }
}
#designers {
  flex-direction: column;
  width: 100%;
}
#designers h1 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
}
#designers select {
  width: 50%;
  margin-bottom: 20px;
  border: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 14px;
  color: var(--gray-72);
  border: var(--gray-72) solid 1px;
}
#designers select:first-child {
  border-right: var(--gray-72) solid 1px;
}
#designers .designer-information {
  flex-direction: column;
}
#designers .designer-information #designer-id {
  justify-content: space-between;
}
#designers .designer-information #designer-id h2 {
  margin: 0 10px;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  color: var(--gray-72);
}
#designers .designer-information .designer-photo img {
  width: 100%;
}
#designers .designer-information article {
  margin: 60px 30px;
  text-align: justify;
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-size: 14px;
  color: var(--gray-72);
}

@media (min-width: 1920px) {
  #designers {
    flex-direction: column;
    width: 100%;
  }
  #designers h1 {
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
    color: var(--gray-72);
    font-size: 100px;
    margin: 100px 0;
  }
  #designers select {
    width: 300px;
    font-size: 24px;
  }
  #designers .designer-information {
    flex-direction: row;
    position: relative;
    margin-bottom: 100px;
  }
  #designers .designer-information #designer-id + .designer-photo {
    order: 1;
  }
  #designers .designer-information #designer-id + .designer-photo:first-child {
    order: 2;
  }
  #designers .designer-information #designer-id {
    position: absolute;
    right: calc(50% - 133px);
    width: 400px;
    justify-content: space-around;
  }
  #designers .designer-information #designer-id h2 {
    position: absolute;
    margin: 0 40px;
    font-family: "Montserrat Alternates";
    font-size: 42px;
    color: var(--gray-72);
  }
  #designers .designer-information #designer-id picture {
    position: absolute;
    top: 75px;
  }
  #designers .designer-information #designer-id picture img {
    width: 40px;
    margin-right: 10px;
  }
  #designers .designer-information .designer-photo img {
    width: 640px;
  }
  #designers .designer-information article {
    margin: 220px;
    text-align: justify;
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-size: 38px;
    color: var(--gray-72);
  }
}
#products {
  flex-direction: column;
  width: 100%;
}
#products h1 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
  margin-bottom: 10px;
}
#products #product-options {
  width: 98vw;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
}
#products #product-options a {
  display: flex;
  width: calc(55% / 3);
  height: 30px;
  background-color: var(--black);
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  color: var(--gray-ef);
  text-transform: uppercase;
}
#products #product-options a + a {
  margin-left: 5px;
}
#products select {
  width: 50%;
  border: var(--gray-72) solid 1px;
  height: 30px;
  margin-bottom: 30px;
}
#products .product-items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  justify-items: center;
  align-items: center;
  grid-gap: 50px 5px;
}
#products .product-items a img {
  width: 80%;
}

#single-product {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
}
#single-product h1 {
  margin: 40px 10px 0 10px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  color: var(--gray-26);
  font-size: 24px;
}
#single-product h2 {
  margin: 0 10px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  color: var(--gray-72);
  font-size: 20px;
}
#single-product h3 {
  margin: 10px 10px 40px 10px;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  color: var(--gray-72);
  font-weight: 400;
}
#single-product #item-view #displayed-item {
  width: 100%;
  position: relative;
}
#single-product #item-view #displayed-item img {
  width: 100%;
}
#single-product #item-view nav picture img {
  position: absolute;
  height: 40px;
}
#single-product #item-view nav picture img:first-child {
  top: calc(50% - 25px);
  right: 20px;
}
#single-product #item-view nav picture img:last-child {
  position: absolute;
  top: calc(50% - 25px);
  left: 20px;
}
#single-product ul {
  justify-content: center;
  margin: 0;
  padding: 0;
}
#single-product ul li {
  width: 8px;
  height: 8px;
  background-color: var(--gray-e4);
}
#single-product ul li:first-child {
  background-color: var(--gray-bf);
}
#single-product ul li + li {
  margin-left: 5px;
}
#single-product #add-product {
  margin-top: 40px;
  justify-content: space-between;
  margin-bottom: 40px;
}
#single-product #add-product #order-item {
  position: relative;
  width: 70%;
}
#single-product #add-product #order-item label {
  width: 100%;
  color: var(--gray-72);
  align-items: center;
  padding-left: 5px;
}
#single-product #add-product #order-item label:first-child {
  height: 30px;
  background-color: var(--black);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-e4);
  border: var(--gray-26) solid 2px;
}
#single-product #add-product #order-item #choice {
  position: absolute;
  right: 3px;
  top: 5px;
}
#single-product #add-product #qtty-order {
  margin-right: 10px;
}
#single-product #add-product #qtty-order label {
  color: var(--gray-72);
  margin-right: 5px;
  height: 30px;
  align-items: center;
  margin: 5;
}
#single-product #add-product #qtty-order #item-qtty {
  width: 30px;
  border: var(--gray-72) solid 1px;
  text-align: right;
  padding-right: 5px;
  color: var(--gray-72);
  font-weight: 600;
}
#single-product p {
  font-family: "Montserrat Alternates";
  font-size: 12;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}
#single-product p:last-child {
  text-align: justify;
  margin: 20px 10px;
  font-family: "Nunito";
  font-size: 12;
  color: var(--black);
}
#single-product h2 {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-top: 40px;
}

#auth {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#auth #login, #auth #registration-form {
  width: 100%;
}
#auth #login form, #auth #registration-form form {
  width: 100%;
  margin: 10px;
}
#auth #login form:last-child, #auth #registration-form form:last-child {
  margin-bottom: 40px;
}
#auth #login form h1, #auth #registration-form form h1 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
}
#auth #login form .field, #auth #registration-form form .field {
  position: relative;
  margin-top: 10px;
}
#auth #login form .field input, #auth #registration-form form .field input {
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0;
  border: var(--gray-72) solid 1px;
}
#auth #login form .field label, #auth #registration-form form .field label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: "Nunito";
  font-size: 10px;
  text-transform: uppercase;
}
#auth #login form .auth-opt, #auth #registration-form form .auth-opt {
  align-items: flex-end;
  margin-top: 0;
}
#auth #login form .auth-opt > input, #auth #registration-form form .auth-opt > input {
  border: var(--gray-72) 1px solid;
}
#auth #login form .auth-opt > label, #auth #registration-form form .auth-opt > label {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-72);
  margin-right: 3px;
}
#auth #login form .auth-opt > label a, #auth #registration-form form .auth-opt > label a {
  text-decoration: none;
  color: var(--gray-72);
}
#auth #login form .action, #auth #registration-form form .action {
  margin-top: 20px;
  width: 100%;
}
#auth #login form .action a, #auth #registration-form form .action a {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  font-family: "Nunito";
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-e4);
  text-decoration: none;
}
#auth #login form h2, #auth #registration-form form h2 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
}
#auth #login form .client-type, #auth #registration-form form .client-type {
  justify-content: space-around;
}
#auth #login form #cep-uf, #auth #registration-form form #cep-uf {
  justify-content: space-between;
}

@media (min-width: 768px) {
  #auth #login, #auth #registration-form {
    width: 600px;
  }
}
#order {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
}
#order #client, #order #product-order {
  flex-direction: column;
  margin: 0 10px;
}
#order #client h1, #order #product-order h1 {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  color: var(--gray-72);
}
#order #client .order-id, #order #product-order .order-id {
  margin-top: 15px;
  flex-direction: column;
}
#order #client .order-id strong, #order #client .order-id small, #order #product-order .order-id strong, #order #product-order .order-id small {
  font-family: "Nunito";
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
}
#order #client #news-opt, #order #product-order #news-opt {
  margin-top: 10px;
}
#order #client #news-opt input, #order #product-order #news-opt input {
  margin: 0;
  padding: 0;
}
#order #client #news-opt label, #order #product-order #news-opt label {
  font-family: "Nunito";
  font-size: 12px;
  margin-left: 3px;
  align-items: flex-end;
}
#order #client h2, #order #product-order h2 {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}
#order #product-order .order-id small {
  font-weight: 700;
}
#order #product-order a {
  height: 30px;
  display: flex;
  background-color: var(--black);
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  color: var(--gray-e4);
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  #order {
    align-items: center;
  }

  #client, #product-order {
    width: 600px;
  }
}

/*# sourceMappingURL=main.css.map */
